<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${MI_DISPLAY_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>${MI_BUNDLE_ID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${MI_BUNDLE_ID}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>PLACEHOLDER</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mcclatchy.is</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mcclatchy.is</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>${MI_BUNDLE_ID}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mi-reader</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>PLACEHOLDER</string>
	<key>CONFIG_FILE</key>
	<string>config.json</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>a940d81c203f0a8246d49a9501eb176996848c56</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>HEADER_IMAGE</key>
	<string>header</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lyon Text-Bold.otf</string>
		<string>Lyon Text-Regular.otf</string>
		<string>McClatchy Sans Cond-Demi 150410.otf</string>
		<string>McClatchy Sans Cond-Light 150410.otf</string>
		<string>McClatchy Sans Cond-Medium 150410.otf</string>
		<string>McClatchy Sans Cond-Regular 150410.otf</string>
		<string>McClatchy Sans-Demi 150410.otf</string>
		<string>McClatchy Sans-Regular 150410.otf</string>
		<string>McClatchy Slab-Demi 150410.otf</string>
		<string>McClatchySlab-Medium.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
